[submodule "autoenv"]
	path = autoenv
	url = https://github.com/kennethreitz/autoenv.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh_plugins/grunt"]
	path = zsh_plugins/grunt
	url = https://github.com/yonchu/grunt-zsh-completion.git
[submodule "zsh_plugins/pandoc"]
	path = zsh_plugins/pandoc
	url = https://gist.github.com/3334048.git
[submodule "zsh_plugins/yeoman"]
	path = zsh_plugins/yeoman
	url = https://github.com/edouard-lopez/yeoman-zsh-plugin.git
[submodule "gibo"]
	path = gibo
	url = https://github.com/simonwhitaker/gibo.git
[submodule "linuxbrew"]
    path = linuxbrew
    url = git://github.com/Homebrew/linuxbrew.git
